<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/login.css">
        <link rel="stylesheet" href="../Styles/sing-up.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/sidebar.css">
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d7e294fc4d.js" crossorigin="anonymous"></script>
        <script src="../javascript/login.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header class="header">
                <h1 class="header-title">Trackgenix</h1>
                <i class="fa-solid fa-bars"></i>
        </header>
        <div class="flex-container">
            <aside class="aside">
                <h2 class="aside-title">Menu</h2>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="aside-input" type="text" placeholder="        Search">
                </div>
                <nav class="nav">
                    <a href="./index.html" class="nav-link"><i class="fa-solid fa-house"></i>Home</a>
                    <a href="./login.html" class="nav-link"><i class="fa-solid fa-right-to-bracket"></i>LogIn</a>
                    <a href="./sing-up.html" class="nav-link"><i class="fa-solid fa-person"></i>SingUp</a>
                </nav>
                <h3 class="aside-second-title">Get in touch</h3>
                <p class="aside-p">
                    Gigatech is always looking for talented software developers to join our team.
                    If you are interested in working with us, please get in touch. We would be happy
                    to discuss your experience and skills.
                </p>
                <p class="nav-p1"><i class="fa-regular fa-envelope"></i>trackgenix@gigatech.com</p>
                <p class="nav-p2"><i class="fa-solid fa-phone"></i>415-200-0042</p>
                <p class="nav-p3"><i class="fa-solid fa-house"></i>621 Taylor St.,San Francisco,CA</p>
            </aside>
            <div class="main-footer-container">
                <main class="main-login">
                    <div class="login-container">
                        <img class="login-img" src="../Assets/logo-rr.png" alt="logo-rr">
                        <div class="div-input">
                            <h2 class="login-h2">Log in</h2>
                            <input type="text" name="email" id="input-login-email" class="input-login-email" placeholder="    Email">
                            <input type="password" name="password" id="input-login-password" class="input-login-password" placeholder="   Password">
                        <div class="div-checkbox">
                            <label for="checkbox-login" class="label-checkbox">Remember me</label>
                            <input type="checkbox" name="checkbox-login" id="checkbox-login" class="checkbox-login">
                        </div>
                        </div>
                        <div class="div-btn-login">
                            <button id="back-btn" class="back-btn">Back</button>
                            <button id="login-btn" type="submit" class="login-btn">Log In</button>
                        </div>
                    </div>
                    <div id="myModal" class="modal">
                        <div id="myModalContent" class="modal-content">
                            <span class="close">&times;</span>
                            <p id="p-modal">Some text in the Modal..</p>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    <div class="footer-img-container">
                        <img src="../Assets/facebook-icon.png" alt="facebook-icon">
                        <img src="../Assets/instagram-icon.png" alt="instagram-icon">
                        <img src="../Assets/twitter-icon.png" alt="twitter-icon">
                    </div>
                    <p class="footer-p">
                        ©GigaTech Software Solutions SA. INC. ALL RIGHTS RESERVED.
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>