.header{
    display:flex;
    background: #41426F;
	width: 455px;
    height: 154px;
}

.header-title{
	margin-top: 0;
	font-size: 40px;
	color: white;
	padding-top: 43px;
    padding-left: 15px;
}

.fa-bars{
    color: white;
    font-size: 35px;
    margin-left: 140px;
    margin-top: 50px;
}
