/* First Section Begins */
.first-section{
    display:flex;
    flex-direction:column;
}

.first-section-div{
    width: 385px;
    margin-left: 15px;
    font-size: 12px;
    border-top: solid #373867 2px;
    margin-top: 200px;
}

.first-section-h2{
    font-size: 25px;
    font-weight: bold;
    color: #41426F;
}

.first-section-h3{
    font-size: 15px;
    color: #41426F;
}

.first-section-p1, .first-section-p2{
    color: #41426F;
}

.first-section-div-img{
    width: 385px;
    height: 215px;
    margin-left: 15px;
    border-radius: 5px;
    background-image: url("../Assets/image-main.png");
    background-position: center;
}

.first-section-btn{
    margin-left: 230px;
    margin-top: 162px;
    width: 147px;
    height: 47px;
    background-color: white;
    border: none;
    box-shadow: rgb(130 128 128 / 55%) 1px 4px 3px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}

.first-section-btn:hover{
    margin-left: 206px;
    margin-top: 162px;
    width: 147px;
    height: 47px;
    background-color: #AACE9B;
    transition: all .5s;
    border: none;
    box-shadow: rgb(130 128 128 / 55%) 1px 4px 3px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
}
/* First Section End */

/* Second Section Begins */
.second-section{
    border-top: solid 2px #41426f;
    margin-top: 40px;
    width: 90%;
    margin-left: 22px;

}

.first-div-second-section, .second-div-second-section, .third-div-second-section, .fourth-div-second-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 27px;
    width: 95%;
    margin-left: 20px;
}

.second-section-h3{
    margin-left: 5px;
    font-size: 26px;
    padding-top: 18px;
}

.second-section-img{
    height: 60px;
    padding-top: 30px;
    margin-left: -25px;
    margin-right: 4px;
}

.second-section-p{
    margin-left: 45px;
    margin-right: 25px;
    margin-top: -24px;
    font-size: 14px;
    font-weight: bold;
    color: #41426f;
}
/* End Second Section */

/* Third section begins */

.third-section{
    display: flex;
    flex-direction: column;
}

.third-section-h2{
    font-size: 32px;
    color: #41426f;
    margin-left: 16px;
    border-top: #41426f 2px solid;
    padding-top: 25px;
    width: 85%;
    padding-left: 30px;
}

li{
    list-style-type: none;
}

.third-section-h4{
    color:#41426F;
    font-size: 18px;
    font-weight: bold;
}

.third-section-p{
    margin-left: 12px;
    width: 90%;
    padding-bottom: 30px;
    margin-top: -10px;
    color: #41426F;
}

.fa-caret-right{
    padding-right: 5px;
}


/* Third Section End */

/* Form */
.section-form{
    border-top: 2px solid #41426f;
    width: 90%;
    margin-left: 10px;
}

.form{
    background-color: #AACE9B;
    width: 390px;
    height: 405px;
    border-radius: 20px;
    margin-top: 45px;
}

.form-name{
	display: flex;
    flex-direction: column;
}

.form-email{
    display: flex;
    flex-direction: column;
}


.form-name-label, .form-email-label, .form-textarea-label,.form-contact-area-label {
    color: #373867;
    font-weight: bold;
    margin-left: 19px;
    margin-top: 15px;
    font-size: 15px;
}


.form-name-input, .form-email-input, .form-contact-area-select{
    width: 350px;
    height: 38px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
    margin-top: 5px;
    margin-left: 17px;
}

.text-area{
    width: 350px;
    height: 85px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
    margin-top: 5px;
    margin-left: 17px;
}



.form-second-div{
    display: flex;
    flex-direction: column;
}

.form-third-div{
    display: flex;
    flex-direction: column;
}

.form-send-btn{
	width: 100px;
    height: 24px;
    margin-left: 272px;
    margin-top: 10px;
    border-radius: 5px;
    color: #41426F;
    font-weight: bold;
    font-size: 12px;
    border: none;
}

/* Form End */

/* Fourth section begins */
.fourth-section{
    border-top: 2px solid #41426f;
    width: 90%;
    margin-left: 16px;
    margin-top: 48px;
}

.fourth-section-h2{
    padding-top: 15px;
    color: #41426F;
    font-weight: bold;
    font-size: 25px;
}

.fourth-section-div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.fourth-section-p1{
    color: #41426f;
    font-size: 13px;
    margin-left: 20px;
    line-height: 14px;
}

.fourth-section-p2{
    color: #41426f;
    font-size: 13px;
    line-height: 14px;
}
/* Fourth Section End*/

/* Five section begins */
.five-section{
    display: flex;
    flex-direction: column;
    border-top: 2px solid #41426f;
    width: 90%;
    margin-top: 70px;
    margin-left: 20px;
}

.five-section-h2{
    font-size: 35px;
    font-weight: bold;
    color:#41426F;
    margin-left: 100px;
    margin-top: 35px;
}

.five-section-div-2{
    border-top: 2px solid #41426f;
    margin-top: 30px;
}

.five-section-div-3{
    border-top: 2px solid #41426f;
    border-bottom: 2px solid #41426f;
    margin-top: 30px;
    padding-bottom: 30px;
}

.five-section-ul-1, .five-section-ul-2, .five-section-ul-3{
    font-size: 22px;
    color: #42416f;
    margin-left: 63px;
}

.five-section-ul-1 > li{
    margin-bottom: 15px;
}

.five-section-ul-2 > li{
    margin-bottom: 15px;
}

.five-section-ul-3 > li{
    margin-bottom: 15px;
}
/* Five section end */

