*{
	font-family: 'Roboto Serif', serif;
}

body{
	background-color: #41426F;
}

.header{
	background: #41426F;
	width: 100%;
	height: 120px;
	position: fixed;
}

.header-title{
	margin-top: 0;
	font-size: 35px;
	color: white;
	padding-top: 43px;
    padding-left: 32px;

}

.aside{
	position:fixed;
	width: 18%;
	float: left;
	height: 962px;
	background-color: #41426F;
	padding-left: 25px;
	padding-top: 25px;
	margin-top:120px;
}

.aside-title{
	width: 97px;
	margin-top: 0;
	padding-top: 15px;
	color: white;
	font-size: 35px;
	border-bottom: solid 3px #AACE9B;
}

.aside-input{
	width: 251px;
	height: 38px;
	border-radius: 5px;
	background-color: #393a65;
	border: solid 1px white;
}

.fa-magnifying-glass{
	position: absolute;
	margin-left: 15px;
	margin-top: 13px;
	color: rgba(255, 255, 255, 0.269);
}

.aside-second-title{
	padding-top: 100px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border-bottom: solid 3px #AACE9B;
	width: 95px;
	margin-bottom: 40px;
}

.aside-p{
	color:white;
	font-weight: bold;
	font-size: 15px;
	margin-top: 25px;
	padding-right: 23px;
}

.fa-envelope,.fa-phone,.fa-house{
	margin-right: 7px;
}

.nav-link{
	width: 255px;
	height: 35px;
	border: solid white 2px;
	display: block;
	background-color: white;
	margin-top: 25px;
	border-radius: 5px;
	box-shadow: rgba(130, 128, 128, 0.549) 3px 3px;
	font-weight: bold;
	color: #41426F;
	padding-top: 15px;
	text-align: center;
}

.nav-link:hover{
	width: 255px;
	height: 35px;
	border: solid white 2px;
	display: block;
	background-color:#AACE9B;
	margin-top: 25px;
	border-radius: 5px;
	box-shadow: rgba(130, 128, 128, 0.549) 3px 3px;
	font-weight: bold;
	color: #41426F;
	padding-top: 15px;
	text-align: center;
	transition: all .5s;
}

.fa-house, .fa-right-to-bracket, .fa-person{
	padding-right: 5px;
	margin-left: -15px;
}

.nav-p1, .nav-p2, .nav-p3{
	color:white;
	font-weight: bold;
	font-size: 15px;
	margin-top: 25px;
	padding-right: 23px;
	border-bottom: solid #AACE9B 1px;
	margin-right: 40px;
    padding-bottom: 10px;
}

.main{
	float: right;
	width: 80%;
	background-color:white;
	margin-top: 120px;
	padding-left: 52px;
	padding-right: 52px;
}


/*  First section begins  */
.first-section{
	margin-top: 70px;
    padding-top: 55px;
    border-top: solid #373867;
    border-bottom: solid #373867 3px;
    padding-bottom: 62px;
	margin-left: 87px;
}

.first-section-div{
	display: inline-block;
    width: 366px;
    margin-left: 41px;
    height: 325px;
    font-size: 16px;
	margin-top: -22px;
}


.first-section-img{
	display: inline-block;
	float: right;
}

.first-section-btn{
	display: block;
    margin-left: 338px;
    width: 147px;
    height: 47px;
    background-color: white;
    border: none;
    box-shadow: rgb(130 128 128 / 55%) 1px 4px 3px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
	margin-top: 22px;
}

.first-section-btn:hover{
	display: block;
    margin-left: 338px;
    width: 147px;
    height: 47px;
    background-color: #41426F;
    border: none;
    box-shadow: rgb(130 128 128 / 55%) 1px 4px 3px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
	margin-top: 22px;
	transition: all .5s;
}

.first-section-h2{
	font-size: 27px;
	font-weight:bold;
	color: #373867;
}

.first-section-p1, .first-section-p2{
	font-size: 18px;
	color: #41426F;
	font-weight: bold;
}

.first-section-h3{
	font-size: 20px;
	color: #373867;
	margin-top: -6px;
}
/*  First section end  */

/*  Second section begins  */
.second-section{
	display: inline-block;
	margin-left: 108px;
	margin-top: 67px;
	padding-bottom: 80px;
}

.second-section-img{
	float: left;
	margin-right: 15px;
}

.first-div-second-section{
	display: inline-block;
	width:45%;
	margin-left: 161px;
}

.second-div-second-section{
	display: inline-block;
	width:45%;
	margin-right: -127px;
}

.second-section-h3{
	font-size: 30px;
}


.second-section-p{
	color:#41426F;
	font-size: 14px;
	font-weight: bold;
	width:50%;
	padding-left: 75px;
}
/*  Second section end  */

/*  Third section begins  */
.third-section{
	border-top: solid #373867 3px;
	border-bottom: solid #373867 3px;
	margin-left: 87px;
}

.third-section-h2{
	margin-left: 70px;
    color: #373867;
    font-size: 40px;
	border-bottom: solid #373867 3px;
	width: 398px;
}

.third-section-h4{
	font-size: 22px;
	color: #373867;
	font-weight: bold;
	margin-bottom: -18px;
}

.third-section-p{
	color: #373867;
	font-size: 20px;
	margin-left: 28px;
}


.third-section-ul-1{
	display: inline-block;
	width: 40%;
	list-style: none;
	margin-left: 100px;
}

.third-section-ul-2{
	display: inline-block;
	width: 40%;
	list-style: none;
	margin-left: 22px;
}

.fa-caret-right{
	float: left;
	font-size: 25px;
    margin-right: 15px;
}
/*  Third section end  */

/*  Section form begins  */
.form{
	background-color:#AACE9B;
	width: 572px;
	height: 466px;
	border-radius: 20px;
	margin-left: 299px;
	display: inline-block;
	margin-top: 35px;
}

.form-name{
	display: inline-block;
	width: 45%;
	margin-left: 23px;
}

.form-email{
	display: inline-block;
	width: 45%;
	margin-left: 5px;
}

.form-name-label{
	color:#373867;
	font-weight: bold;
}

.form-email-label{
	color:#373867;
	font-weight: bold;
}

.form-name-input{
	width: 251px;
    height: 38px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
	margin-top: 5px;
}

.form-email-input{
	width: 251px;
    height: 38px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
	margin-top: 5px;
}

.form-first-div{
	margin-top: 31px;
}

.form-contact-area-select{
	display: block;
    width: 525px;
    height: 42px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
    margin-left: 23px;
	margin-top: 5px;
}

.form-contact-area-label{
	color: #373867;
    font-weight: bold;
	margin-left: 23px;
}

.form-second-div{
	margin-top: 17px;
}

textarea{
	display: block;
    width: 525px;
    height: 98px;
    border-radius: 5px;
    background-color: #AACE9B;
    border: solid 1px #373867;
    margin-left: 23px;
    margin-top: 5px;
}

.form-third-div{
	margin-top: 80px;
}

.form-textarea-label{
	color: #373867;
    font-weight: bold;
	margin-left: 23px;
}

.form-send-btn{
	width: 255px;
	height: 50px;
	margin-left: 298px;
	margin-top: 25px;
	border-radius: 5px;
	color: #41426F;
	font-weight: bold;
}

.form-send-btn:hover{
	width: 255px;
	height: 50px;
	margin-left: 298px;
	margin-top: 25px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	background-color: #41426F;
	transition: all .5s;
}

.section-form{
	border-bottom: solid #373867 3px;
	padding-bottom: 35px;
	margin-left: 87px;
}
/*  Section form end  */

/*  Fourth section begins  */
.fourth-section{
	padding-left: 73px;
}

.fourth-section-div-p{
	margin-top: -60px;
}

.fourth-section-h2{
	font-size: 30px;
    margin-left: 28px;
    padding-top: 25px;
    color: #373867;
    font-weight: bold;
}

.fourth-section-p1{
	display: inline-block;
    width: 25%;
    font-size: 24px;
    margin-left: 25px;
    color: #373867;
	padding-right: 172px;
}

.fourth-section-p2{
	font-size: 25px;
    width: 95%;
    margin-left: 25px;
    margin-top: 0;
    color: #373867;
    margin-bottom: 65px;
}
/*  Fourth section end  */

/*  Five Section Begins  */
.five-section{
    margin-bottom: 155px;
    padding-left: 0px;
    border-top: solid #373867 3px;
    margin-left: 87px;
}

.five-section-ul-1, .five-section-ul-2, .five-section-ul-3{
	list-style: none;
	padding-left: 0;
}

.five-section-div-1{
	display: inline-block;
    width: 365px;
    margin-left: 28px;
    border-right: solid #373867 3px;
    margin-top: 40px;
}

.five-section-div-2{
	display: inline-block;
    width: 333px;
    border-right: solid #373867 3px;
    margin-left: 144px;
}

.five-section-div-3{
	display: inline-block;
    margin-left: 112px;
}

.five-section-h2{
	font-size: 40px;
	font-weight: bold;
	color: #373867;
}

.five-section-div-1 ul li {
	margin-right: 10px;
	font-size: 16px;
	margin-top: 21px;
    font-weight: bold;
	color: #373867;
}

.five-section-div-2 ul li {
	margin-right: 10px;
	font-size: 16px;
	margin-top: 21px;
    font-weight: bold;
	color: #373867
}

.five-section-div-3 ul li {
	margin-right: 10px;
	font-size: 16px;
	margin-top: 21px;
    font-weight: bold;
	color: #373867
}
/*  Five Section End  */

/*  Footer Begins  */
.footer{
	background-color:#41426F;
	width: 80%;
    float: right;
}

.footer-img-container{
	text-align: center;
    padding: 10p;
    padding-top: 20px;
}

.footer-p{
	color: white;
	text-align: center;
	padding-top: 10px;
}

footer div img{
	margin-right: 90px;
}
/*Footer end*/
