*{
	font-family: 'Roboto Serif', serif;
}


@media (min-width: 768px){

.header{
    display:flex;
    background: #41426F;
	width: 100%;
    height: 120px;
    position: fixed;
}

.header-title{
	margin-top: 0;
	font-size: 40px;
	color: white;
	padding-top: 43px;
    padding-left: 15px;
}

.fa-bars{
    color: white;
    font-size: 35px;
    margin-left: 495px;
    margin-top: 50px;
}



/* First Section begins */
.first-section{
	display: flex;
	flex-direction: row;
    align-items: flex-end;
}

.first-section-div{
	width: 50%;
	padding-bottom: 55px;
	margin-left: 20px;
}

.first-section-div-img{
	margin-right: 20px;
	height: 245px;
}

.first-section-btn{
	margin-top: 220px;
	margin-left: -175px;
}
/* First Section End */


/* Second section begins */
.second-section{
	display:flex;
	flex-direction: row;
	width: 95%;
}

.fourth-div-second-section{
	margin-top: 40px;
}

/* Second Section End */

/* Third section begins */
.third-section{
	display: flex;
    flex-direction: column;
    border-top: #41426f 2px solid;
    width: 95%;
    margin-left: 19px;
    margin-top: 40px;
	margin-bottom: 50px;
	padding-top: 35px;
}

.third-section-h2{
	border-bottom: solid 3px #42416f;
    width: 44%;
    padding-left: 0px;
    margin-left: 70px;
}

.third-section-p{
	margin-bottom: 30px;
	padding-bottom: 1px;
}

.third-section-ul-container{
	margin-left: 25px;
}
/* Third Section End */

/* Form Section begins */
.section-form{
	border-top: 2px solid #41426f;
    width: 95%;
    margin-left: 20px;
    display: flex;
    justify-content: center
}

.form{
	width: 600px;
}

.form-first-div{
	display: flex;
}

.form-name-input, .form-email-input{
	width: 270px;
}

.form-contact-area-select{
	width: 95%;
	height: 40px;
}

.form-third-div{
	padding-top: 45px;
}

.text-area{
	width: 93%;
}

.form-send-btn{
	font-size: 15px;
	width: 255px;
    height: 50px;
	margin-left: 325px;
    margin-top: 14px;
}
/* Form Section End */

/* Fourth Section Begins */
.fourth-section{
	width: 95%;
}

.fourth-section-container{
	display: flex;
    flex-direction: column;
	width: 80%;
    padding-left: 70px;
}

.fourth-section-h2{
	padding-left: 70px;

}
/* Five Section Begins */

.five-section{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid #41426f;
    width: 95%;
    margin-left: 20px;
}

.five-section-h2{
	font-size: 32px;
    font-weight: bold;
    color: #41426F;
    margin-left: 48px;
    margin-top: 35px;
}

.five-section-div-1{
	width: 90%;
    margin-top: 25px;
    margin-right: 29px;
}

.five-section-div-2{
	border-left: 2px solid #41426f;
    width: 100%;
    margin-top: 25px;
	border-top: none;
}

.five-section-div-3{
	border-left: 2px solid #41426f;
	padding-bottom: 30px;
    width: 100%;
    margin-top: 25px;
	border-top: none;
	border-bottom: none;
}

.five-section-ul-1, .five-section-ul-2, .five-section-ul-3{
	margin-left: 4px;
	font-size: 20px;
}

.fa-play{
	padding-right: 6px;
}
/* Five Section End */


}







@media (min-width: 1024px){


.header{
    display:flex;
    background: #41426F;
	width: 100%;
    height: 120px;
    position: fixed;
}

.header-title{
	margin-top: 0;
	font-size: 40px;
	color: white;
	padding-top: 43px;
    padding-left: 15px;
}

.header > .fa-bars{
	display: none;
}

.aside{
	display: initial;
}

.aside-second-title{
	padding-top: 55px;
}

.aside-p{
	margin-bottom: 70px;
}

.aside-input{
	width: 178px;
}

.nav-link{
	width: 180px;
    height: 30px;
}

.main{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
	margin-left: 20%;
}

.footer{
	width: 80%;
    margin-top: 45px;
    padding-left: 205px;
}

}